body {
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;

}

/********** Common-Style-Area **********/
.container {
    padding: 0 0 80px 120px;
}

.button {
    background: #E55473;
    color: #ffffff;
    border: 0px;
    border-radius: 8px;
    padding: 20px 43px;
}



/**********End-Common-Style-Area **********/


/********** Banner-Area Style **********/
.banner-area {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    max-width: ;
    background-image: url(images/pngwing\ 10.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 535px 650px;
    margin-bottom: 100px;


}

.left-area-banner {
    margin-top: 50px;

}

.banner-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    width: 708px;

}

.banner-discription {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    width: 634px;
    text-align: justify;
    margin-bottom: 50px;

}

.section {
    margin-bottom: 100px;
}


/********** End-Banner-Area Style **********/

/* Featred-Area */

.main {
    margin: auto;
    padding: 50px;
    text-align: center;
}

.featured-title {
    text-align: center;
    color: #272727;
}

.featured-discriptions {
    text-align: center;
    color: #27272799;
}

.flower-section {
    display: flex;
    justify-content: space-around;

}

.flower img {
    margin-top: 50px;
    height: 300px;
}

.flower p {
    text-align: center;

}

.flower-1 {
    background-color: #A7216226;
    width: 230px;
    margin-left: 10px;
    border-radius: 200px 200px 0px 0px;
}

.flower-2 {
    background-color: #0597A026;
    width: 230px;
    margin-left: 10px;
    border-radius: 200px 200px 0px 0px;
}

.flower-3 {
    background-color: #477D1126;
    width: 230px;
    margin-left: 10px;
    border-radius: 200px 200px 0px 0px;
}

.support-area {
    background-color: #f4eeee;
    margin: 0 150px 0 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    border-radius: 10px;


}

.support-area help {
    padding: 50px;
}

.help a {
    display: block;
    text-decoration: none;
}


/* End-Featred-Area */

/* Hot-deal-area */

.off {
    color: #E55473;
}

.left-area {
    width: 600px;
}

.hot-deal {
    margin-top: 100px;
    background-color: #E554730D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hot-deal h2 {
    color: #272727;
    font-size: 40px;
}

.hot-deal p {
    color: #27272799;
}

.hot-deal img {
    height: 400px;
    margin-left: 100px;
}

/* instragram-area */
.instragram-section p {
    color: #27272799;
}

.instra-img {
    display: flex;
    width: 342px;
    height: 396px;
    flex-shrink: 0;
}

.instra-img img {
    margin-top: 30px;
    width: 245px;
}


.instra-img {
    width: 1000px;
    margin: 0 auto;
}

.massages {
    background-image: url("images/Rectangle\ 9.png");
    padding: 50px;

}

.massages input {
    font-size: 20px;
    padding: 4px;
    border: 1px solid skyblue;
    border-radius: 5px;
}

/* footer  */

footer{
    background-color: black;
    color: white;
}
.footer{
    padding: 100px;
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}
.footer h2{
    font-size: 48px;
}
.footer p{
    padding: 20px;
    font-size: 16px;
    
}

.copy-right{
    color: rgba(255, 255, 255, 0.40);;
}